.main-panel {
    display: flex;
    width: auto;
    height: 90px;
    padding-top: 13px;
    padding-left: 25px;
    color: rgb(185, 180, 180);
    background-color: rgb(164, 162, 162);
}

.main-panel {
    padding-right: 200px;
    padding-left: 190px;
    display: flex;
    width: auto;
    height: 130px;
    justify-content: center;
    justify-content: space-between;
    color: rgb(185, 180, 180);
    background-color: rgb(164, 162, 162);
}

.head-icon {
    display: flex;
    color: white;
    width: 165px;
    height: 85px;
    background-color: white;
}

.container {
    position: relative;  
    max-width: 189px;
}
.container:before {
  content:"";
  position:absolute;
  width: 106%;
  height: 86%;
  top:0;left:0;right:0;
  background-color:rgba(251, 251, 251, 0);
  transition: margin-right 2s ease-in-out .5s;
}
.container:hover::before {
  background-color:rgba(255, 255, 255, 0.5);
}
.container img {
    width: 200px;
    height: 100px;
 display:block;
}
.container button {
  position: absolute;
  top: 45%;
  left: 54%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
  background-color: #000000;
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 5px;
} 
.container:hover button {   
  opacity: 1;
}
.main-panel.menu {
    display: flex;
    width: auto;
    justify-content: center;
    height: 90px;
    padding-top: 13px;
    padding-left: 35px;
    padding-right: 60px;
    color: rgb(9, 1, 1);
    background-color: rgb(164, 162, 162);
}

.main-body {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(200, 195, 195);
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding-right: 190px;
    padding-left: 190px;
    overflow: auto;
}

.main-body>* {
    margin: 1em 0;
}

.icon-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    width: 260px;
    background-color: white;
    padding-right: 15px;
    padding-left: 12px;
    padding-top: 10px;
}

.icon-image {
    display: flex;
    background-color: rgb(134, 128, 128);
    width: 260px;
    height: 210px;
    transition: 1s;
    overflow: hidden;

}

.icon-image img:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
}

.tovar {
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.add-button {
    color: black;
    background-color: white;
    border-width: thin;
    border-color: black;
    height: 25px;
    width: 110px;
    margin-left: 125px;
    margin-top: -27px;
    opacity: 1;
    border-radius: 5px;
}

.add-button:hover {
    opacity: 0.6;
    background-color: #dfe4ee;
}

.small {
    color: rgb(208, 196, 196);
    font-size: x-small;
    padding-top: 4px;
}

.descr-style {
    font-size: 13px;
}

.price {
    padding-top: 8px;
}

.line {
    border-bottom: 1px solid rgb(185, 178, 178);
    width: 250px;
}

.footer {
    display: flex;
}

.hed-bar {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: -10px;
}

.back-to-top {
    position: fixed;
    right: 3rem;
    bottom: 2rem;
    border-radius: 120%;
    background: #ff5900;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
    height: 50px;
    width: 50px;
}

.back-to-top:hover {
    opacity: 60%;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #000000;
}
