.registration-container{
    color: black;
    width: 576px;
    height: 286px;
  background-color: white;
  flex-direction:row;
  }

  .registration-form-container{
    display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgb(206, 202, 202);
  height: 700px;
  }

  .from-sign{
    display: flex;
    width: 576px;
    height: 45px;
    padding-top: 13px;
    padding-left: 25px;
    color: white;
    background-color: rgb(164, 162, 162);
  }
  
  .reg-forms{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction: row;
    width: 555px;
    height: 168px;
    margin-top: 15px;
    margin-left: 10px;
    flex-wrap: wrap;
  }

  .reg-form{
    color: black;
    height: 34px;
    width: 260px;
    padding-left: 20px;
    border-width: 1px;
    border-color: #b7acac;
    border-style: ridge;
  }

  .reg-form.description{
    height: 135px;
  }

  .reg-buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 297px;
    margin-top: 17px;
    width: 259px;
    
  }
  
  .reg-button{
    border-style: ridge;
    width: 120px;
    height: 30px;
    border-width: 1px;
    background-color: rgb(7, 170, 7);
  }

  .reg-button.white{
    border-style: ridge;
  color: black;
  border-color: rgb(220, 211, 211);
  border-width: 1px;
  background-color: white;
  }

.reactangle{
  background-color: rgb(206, 202, 202);
  display: flex;
  width: 1540px;
  height: 50px;
  padding-left: 170px;
  padding-top: 15px;
  font-size: large;
  font-style: Monospace;
}

.add-container.left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 0px;
  height: 445px;
  width: 350px;
  flex-wrap: wrap;
  margin-left: 387px;
}

.add-container.right {
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: -436px;
    height: 435px;
    width: 200px;
    flex-wrap: wrap;
    margin-left: 675px;
}

.field__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}
 
.field__file {
  visibility: hidden
}
 
.field__file-wrapper {
  display: flex;
  margin-top: -55px;
  height: 34px;
  width: 260px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}
 
.field__file-fake {
  display: flex;
  padding-left: 220px;
  height: 34px;
  width: 260px;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #c7c7c7;
}
 
.field__file-button {
  display: flex;
  background-image: url(/images/image_black_24dp.svg);
  color: #fff;
  cursor: pointer;
  width: 21px;
  height: 22px;
  justify-content: end;
  margin-left: 206px
}

input {
  height: 1.2em;
}

input[name="q"] {
  padding-right: 1.8em;
}
.add-action{
  padding-left: 75px;
}

.reg-form.description{
  resize: none;
}

input[type="image"] {
  width: 1.2em;
  position: relative;
  left: -1.8em;
  vertical-align: middle;
}

#add-acation{
  margin-left: 675px;
}

.p1-white{
color: rgb(201, 188, 188);
}
.reg-button{
  color: white;
  border-width: 1px;
border-color: #baaeae;
}
