* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: white;
  font-family: Arial;
}

.menu-container {
  color: #fff;
  background-color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  height: 80px;
}

.menu {
  width: 1500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.link {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 300px;
}

.vertik-strip {
  font-size: 20px;
}


.svg1 {
  margin-left: 70px;
  padding-right: 20px;
}

.svg2 {
  padding-right: 20px;
}

.search {
  width: 500px;
  height: 40px;
  color: black;
  border-color: black;
  border-width: 1px;
  border: 1px solid grey;
  width: 80%;
  background: #ffffff;
}
#search_text{
  width: 340px;
  height: 35px;
  padding-left: 20px;
}

.strip {
  color: gray;
}

.left-menu {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo {
  color: black;
  padding-left: 10px;
  text-decoration: none;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 225, 225);
  height: 700px;
}

.form-container.form1 {
  color: black;
  width: 400px;
  padding-top: 70px;
  height: 255px;
  background-color: white;
  flex-direction: column;
  border-color: rgb(195, 192, 186);
  border-style: ridge;
  border-width: 1px;
}


.forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 85px;
  flex-direction: column;
  margin-top: 20px;
}

.login-button {
  background-color: rgb(7, 170, 7);
  border-style: ridge;
}

.footer {
  display: flex;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #fff;
  height: 50px;
  flex: 1;
}

.login-button {
  color: white;
  background-color: rgb(24, 206, 112);
  border-color: #fff;
  border-color: rgb(195, 192, 186);
  border-width: 1px;
  width: 212px;
  height: 27px;
  margin-top: 10px;
}

.circle {
  height: 200px;
  width: 200px;
  padding-top: 30px;
  border-radius: 90%;
  line-height: 135px;
  text-align: center;
  background-color: rgb(200, 192, 192);
  margin-top: -210px;
}

.heder-button {
  text-decoration: none;
  color: black;
  opacity: 1;
  border-radius:5px;
}

.heder-button:hover {
    opacity: 0.6;
    background-color: #dfe4ee;
}



.left-menu {
  margin-top: -6px;
  color: black;
}

#category_btn{
  margin-top: 100px;
}

.login-form {
  border-color: #fff;
  border-color: rgb(195, 192, 186);
  border-width: 1px;
  width: 212px;
  height: 24px;
  border-style: ridge;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 5px;
  height: 30px;
  justify-content: center;
  display: flex;
}
.h1-white{
  color: white;
}

form.search input[type=text]{
  height: 82%;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: auto;
  margin-top: 28px;
    margin-left: 225px;
}

.checkout-container.elem {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  width: 640px;
  height: 105px;
  flex-direction: row;
}

.medium-text{
  font-size:larger;
}

.elem-image {
  background-color: black;
  width: 70px;
  height: 70px;
}

.description {
  width: 262px;
}

.long-line {
  border-bottom: 2px solid rgb(185, 178, 178);
  width: 630px;
  margin-left: 257px;
  margin-top: 20px;
}

.price2{
  display: flex;
  justify-content: space-between;
  margin-left: 780px;
  margin-top: 10px;
}
.reg-buttons.check{
  margin-right: 200px;
  margin-left: 852px;
}

.item-image{
  width: 780px;
  height: 370px;
  background-color: rgb(220, 206, 206);
  margin-left: 90px;
}
.item-description{
  height: 64px;
  width: 785px;
    margin-left: 88px;
    margin-top: 20px;
    
}
.item-right{
  background-color: white;
  width: 300px;
  height: 370px;
  margin-top: -455px;
    margin-left: 920px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 20px;
}



.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-color: black;
  border-width: 1px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #998b8b;}

.seach-panel{
  display : flex;
  flex-direction: row;
}
